.btn_resume_add{
    margin-top: 15px;
}
.container{
   
    max-width: 600px;
}

.content h1{
    color: #ccc;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.form_info:not(:empty){
    padding: 10px;
    font-size: 14px;
    background-color: bisque;
    margin-bottom: 10px;
    border-radius: .25em; 
}

h1.page_title{
    color: #ccc;
    font-weight: 400;
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu_square{
    display: inline-block;
    background-color: #ccc;
    width: 14px;
    height: 14px;
    margin-right: 5px;
}
.menu_square_large
{
    display: inline-block;
    background-color: #ccc;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    margin-top: 15px;
}

.no_padding{
    padding-left: 0px;
    padding-right: 0px;
}

.page_box{
    padding: 10px;
}

.resume_list{
    padding: 0px;
    font-size: 16px;
}

.resume_list li{

    margin: 0px;
    display: block;
    vertical-align: middle;
}
.resume_list li .title{
    display: inline-block;
    border-bottom: 2px solid #eee;
    color: rgb(0, 152, 255);
    line-height: 30px;
    margin-left: 10px;
    margin-right: 10px;
}
.resume_list li a:not(.title){
    padding-left: 5px;
    display: inline-block;
    
}
